{% extends 'base.html' %}
{% block body %}
<main>
    <div class="container-fluid mt-3 text-center">
        <img src="/static/images/level_up_adv2.png" width="100%">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-12 text-left mt-5 mb-3">
                <h2><b>
                    一、活動名稱
                </b></h2>
                <h3>
                    &emsp;&emsp;Level up 暑期營隊
                </h3>
                <br>
                <h2><b>
                    二、活動目的
                </b></h2>
                <h3>
                    &emsp;&emsp;因應108課綱之教育改革，在此制度尚未成熟時，不管是國中生或高中生都得提早了解未來的大學生升學規劃，及早探索並發覺自身適合之興趣為何，在自我實踐的路上能夠更加踏實。
                </h3>
                <br>
                <h2><b>
                    三、活動內容
                </b></h2>
                <h3>
                    &emsp;&emsp;邀請目前正就讀大學之學生或以畢業之學長姊針對其各科系設計一套適合國高中生理解之科系介紹。課程進行方式以「互動式教學為主」，除講師進行授課外，另有時間安排學員進行分組專題討論並在活動的最後進行發表，還會邀請已在社會上已有所建樹的專業老師來進行經驗分享。
                </h3>
                <br>
                <h2><b>
                    四、活動地點
                </b></h2>
                <h3>
                    &emsp;&emsp;Zoom多人視訊會議室
                </h3>
                <br>
                <h2><b>
                    五、活動時間
                </b></h2>
                <h3>
                    &emsp;&emsp;<b>第一梯次</b>：111年7月11日下午一點至111年7月15日下午五點，共五天。<br>
                    &emsp;&emsp;<b>第二梯次</b>：111年7月25日下午一點至111年7月29日下午五點，共五天。<br>
                    &emsp;&emsp;<b>第三梯次</b>：111年8月15日下午一點至111年8月19日下午五點，共五天。                
                </h3>
                <br>
                <h2><b>
                    六、報名方式
                </b></h2>
                <h3>
                    &emsp;&emsp;網路報名網址：<a href="#">https://team-web.azurewebsites.net/</a>
                </h3>
                <br>
                <h2><b>
                    七、報名時間
                </b></h2>
                <h3>
                    &emsp;&emsp;111/6/1至111/6/15止
                </h3>
                <br>
                <h2><b>
                    八、報名對象
                </b></h2>
                <h3>
                    &emsp;&emsp;高中應屆畢業生、正在就讀國、高中之學生
                </h3>
                <br>
                <h2><b>
                    九、人數
                </b></h2>
                <h3>
                    &emsp;&emsp;每梯15人
                </h3>
                <br>
                <h2><b>
                    十、參加費用
                </b></h2>
                <h3>
                    &emsp;&emsp;新台幣250元
                </h3>
                <br>
                <h2><b>
                    十一、結訓證書
                </b></h2>
                <h3>
                    &emsp;&emsp;於營隊結束後一段時間以郵寄之方式寄送證書
                </h3>
                <br>
                <h2><b>
                    十二、注意事項
                </b></h2>
                <h3>
                    &emsp;&emsp;1. 欲報名之學員需自備可負擔營隊進行之電子設備。<br>
                    &emsp;&emsp;2. 需以擁有Word、Excel、Power Point之應用程式。<br>
                    &emsp;&emsp;3. 活動正式開始前請先確保網路等設備正常運行。                    
                </h3>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>
{% endblock body %}
