{% extends 'base.html' %}
{% block body %}
<main>
    <div class="container-fluid mt-3 mb-3 text-center">
        <img src="/static/images/teams1.png" width="100%">        
    </div>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4">
                <img src="/static/images/CYL.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">劉建佑</h3>
                <h5 class="mt-3 mb-3">LIU,CHIEN-YU</h5>
                <h4>執行總監</h4>
                <p>有些介紹會出現在這裡</p>
                <p><a class="btn btn-secondary" href="#">了解更多 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/images/XZL.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">劉軒志</h3>
                <h5 class="mt-3 mb-3">LIU,XUAN-ZHI</h5>
                <h4>秘書長</h4>
                <p>有些介紹會出現在這裡</p>
                <p><a class="btn btn-secondary" href="#">了解更多 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/images/CAREE TEAM IGPO.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">陳星維</h3>
                <h5 class="mt-3 mb-3">CHEN,HSING-WEI</h5>
                <h4>財務長</h4>
                <p>有些介紹會出現在這裡</p>
                <p><a class="btn btn-secondary" href="#">了解更多 &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="/static/images/CCH.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">侯正成</h3>
                <h5 class="mt-3 mb-3">Hou,Cheng-Cheng</h5>
                <h4>資訊長</h4>
                <p>有些介紹會出現在這裡</p>
                <p><a class="btn btn-secondary" href="#">了解更多 &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="/static/images/CAREE TEAM IGPO.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">林彥合</h3>
                <h5 class="mt-3 mb-3">LIN,YEN-HO</h5>
                <h4>人資長</h4>
                <p>有些介紹會出現在這裡</p>
                <p><a class="btn btn-secondary" href="#">了解更多 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</main>
{% endblock body %}
