{% extends 'base.html' %}
{% block body %}
<main>
    <div class="container-fluid mt-3 mb-3 text-center">
        <img src="/static/images/teams1.png" width="100%">        
    </div>
    <div class="container marketing">
    <div class="container-fluid mt-3 mb-3">
        <h1 class="text-center mt-3 mb-3">創造娛樂工作室核心行政團隊</h1>
    </div>
    <hr class="divider" id="組織架構">
   <h2 class="text-center mt-3 mb-3" >組織架構</h2>
   
   <hr class="divider">
    <div class="container-fluid mt-3 mb-3 text-center">
        <img src="/static/images/team_group.png" width="100%">        
    </div>
   

    <hr class="divider">
    <h2 class="text-center mt-3 mb-3">單位介紹</h2>
    <hr class="divider">
        <!-- 處室介紹 -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading mb-3">團隊總管理處 </h2>
                <h6 class="text-muted">人員組成：執行總監、副執行總監、執行人員</h6>
                <p class="lead mb-3">負責主導團隊所有營運方針及企劃內容，管理、監督、決策、分工之角色</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/sa.png" class="bd-placeholder-img " width="500" height="500"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading mb-3">團隊秘書室</h2>
                <h6 class="text-muted">人員組成：秘書長、秘書次長、執行秘書、資訊秘書、人資秘書、財務秘書、秘書人員</h6>
                <p class="lead mb-3">負責團隊公文傳遞、文書處理、會議紀錄、文件整理及歸檔以及協助各單位執行日常業務之工作</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/static/images/sr.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading mb-3">團隊監察室</h2>
                <h6 class="text-muted">人員組成：監察長、監察次長、監察委員</h6>
                <p class="lead mb-3">團隊遇特殊情況時選派內部人員組成，負責進行調查及裁決之工作</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/mr.png" class="bd-placeholder-img " width="500" height="500"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading mb-3">團隊財務部</h2>
                <h6 class="text-muted">人員組成：財務長、財務次長、會計組長、會計組員、出納組長、出納組員</h6>
                <p class="lead mb-3">負責日常記帳、財務報表、資金管理、薪資計算、財務規劃之工作</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/static/images/fd.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading mb-3">團隊人資部</h2>
                <h6 class="text-muted">人員組成：人資長、人資次長、人事組長、人事組員、實習組長、實習組員</h6>
                <p class="lead mb-3">負責人員招募、實習、獎懲、升遷、考核、人員調派、出缺勤以及工作時數計算</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/hr.png" class="bd-placeholder-img " width="500" height="500"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-3">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading ">團隊資訊部</h2>
                <h6 class="text-muted">人員組成：資訊長、資訊次長、研發組長、研發組員、技術組長、技術組員</h6>
                <p class="lead mb-3">負責資訊技術研發、管理、維修、資訊安全以及各項程式撰寫之工作</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/static/images/id.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="divider">

         <!-- 職員介紹 -->
        <h2 class="text-center mt-3 mb-3">主管要職介紹</h2>
        <hr class="divider">
        <div class="row mt-3 mb-3">
            <div class="col-lg-4">
                <img src="/static/images/CYL.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">劉建佑</h3>
                <h5 class="mt-3 mb-3">LIU,CHIEN-YU</h5>
                <h4>總管理處｜執行總監</h4>
                <p>團隊創辦元老之一，統籌團隊各項內部工作，並為團隊對外接洽之主要人員。</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/images/XZL.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">劉軒志</h3>
                <h5 class="mt-3 mb-3">LIU,XUAN-ZHI</h5>
                <h4>秘書室｜秘書長</h4>
                <p>2022年新進受訓成員，除負責團隊內部日常相關業務外，並同時為團隊部分活動之專案負責人，進行相關活動規劃。</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/images/HWC.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">陳星維</h3>
                <h5 class="mt-3 mb-3">CHEN,HSING-WEI</h5>
                <h4>財務部｜財務長</h4>
                <p>資深團隊成員，團隊運作之資金來源，為團隊各項事務之資金進行統籌。</p>
            </div>
            <div class="col-lg-4">
                <img src="/static/images/CCH.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">侯正成</h3>
                <h5 class="mt-3 mb-3">Hou,Cheng-Cheng</h5>
                <h4>資訊部｜資訊長</h4>
                <p>團隊創辦元老之一，於本年度接手資訊長之職位，負責設計團隊內部之辦公系統設計，與對外發表之官方網站設計。</p>
            </div>
            <div class="col-lg-4">
                <img src="/static/images/CAREE TEAM IGPO.png" class="bd-placeholder-img rounded-circle" width="140" height="140"role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <h3 class="mt-3 mb-3">林彥合</h3>
                <h5 class="mt-3 mb-3">LIN,YEN-HO</h5>
                <h4>人資部｜人資長</h4>
                <p>2022年新進受訓成員，除負責團隊內部相關人事業務外，任何團隊舉辦之活動所需之人數統籌。</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <a href ="#組織架構">測試</a>
</main>
{% endblock body %}
