{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mt-3 mb-3 text-center">
    <img src="/static/images/teams2.png" width="100%">        
</div>
<div class="container-fluid mb-3">
    <div class="row text-center mx-auto">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <h1><b>暑期實習事前調查問卷</b></h1>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
    <br>
    <div class="row text-left mx-auto">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <h2><b>一、	問卷調查用意</b></h2>
            <h4>&emsp;&emsp;了解國、高中生之文書程度，受歡迎之相關科系、以及對於以小組討論進行課程的想法，與參加營隊的意願。</h3><br>
            
            <h2><b>二、 獲得回饋</b></h2>
            <h4>&emsp;&emsp;參與問卷調查者，團隊將從中抽出超商禮卷100元（每人一份）共十份。</h3><br>

            <h2><b>三、問卷用意</b></h2>
            <h4>&emsp;&emsp;本問卷之設計是為了在營隊正式開始前，了解目前正就讀於國、高中生對於office365熟悉程度，方便我們設計出適當之文書作業處理課程，此外，我們也需要學員之興趣取向來作為我們專業課程設計內容的參考，而學生對於課程進行方式的意見也將成為我們活動進行方式的重要參考資料。而最為重要的部分是學生對於這個營隊的參加意願，以便我們後續工作人的安排。</h3>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>
{% endblock body %}
