{% extends 'base.html' %}
{% block body %}
<main>
    <div class="container-fluid mt-3 mb-3 text-center">
        <img src="/static/images/hrmake.png" width="100%">        
    </div>
    <div class="container marketing">
    <div class="container-fluid mt-3 mb-3">
        <div class="table table-borderedless mb-4">
            <!-- 副執行總監 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">1. 副執行總監</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">需具有相關統籌活動的經驗，如：營隊總召，學生會會長等</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">團隊工作方針規劃</li>
                            <li class="tpsn-py-1">活動策畫</li>
                            <li class="tpsn-py-1">對外洽公</li>
                            <li class="tpsn-py-1">管理、監督團隊</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 執行人員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">2. 執行人員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">具體幹部經驗者，如：學生會之幹部、營隊幹部</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助總管理處營運事項</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 執行秘書 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">3. 執行秘書</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備基本之文書作業能力</li>
                            <li class="tpsn-py-1">須具備較熟練的打字能力</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">紀錄執行總監之工作安排</li>
                            <li class="tpsn-py-1">執行總監之行程安排</li>
                            </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 資訊秘書 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">4. 資訊秘書</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備基本之文書作業能力</li>
                            <li class="tpsn-py-1">須具備較熟練的打字能力</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">紀錄資訊部之業務安排</li>
                            <li class="tpsn-py-1">資訊內部資料紀錄與歸檔</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 人資秘書 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">5. 人資秘書</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備基本之文書作業能力</li>
                            <li class="tpsn-py-1">須具備較熟練的打字能力</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">紀錄人資部之業務安排</li>
                            <li class="tpsn-py-1">人資內部資料紀錄與歸檔</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 財務秘書 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">6. 財務秘書</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備基本之文書作業能力</li>
                            <li class="tpsn-py-1">須具備較熟練的打字能力</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">紀錄財務部之業務安排</li>
                            <li class="tpsn-py-1">財務內部資料紀錄與歸檔</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 秘書人員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">7. 秘書人員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備基本之文書作業能力</li>
                            <li class="tpsn-py-1">須具備較熟練的打字能力</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">紀錄秘書室之業務安排</li>
                            <li class="tpsn-py-1">秘書室內部資料紀錄與歸檔</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 研發組長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">8. 研發組長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備資訊相關專業知識</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                            <li class="tpsn-py-1">專科就讀者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助研發資訊相關專業</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 研發組組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">9. 研發組組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備資訊相關專業知識</li>
                            <li class="tpsn-py-1">專科就讀者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助研發資訊相關專業</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 技術組長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">10. 技術組長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備資訊相關專業知識</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                            <li class="tpsn-py-1">專科就讀者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助研發資訊相關專業</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 技術組組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">11. 技術組組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備資訊相關專業知識</li>
                            <li class="tpsn-py-1">專科就讀者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助研發資訊相關專業</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 人資次長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">12. 人資次長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須理解人資基礎工作基礎，如：訓練人員、召募、考勤等</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助執行人資相關工作</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 人事處長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">13. 人事處長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須理解人資基礎工作基礎，如：訓練人員、召募、考勤等</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">負責人員調派、出缺勤、招募、業務、處理獎懲事宜</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 人事組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">14. 人事組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須理解人資基礎工作基礎，如：訓練人員、召募、考勤等</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">負責人員調派、出缺勤、招募、業務、處理獎懲事宜</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 實習組長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">15. 實習組長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">具有領導小型組織能力者</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">籌備受實習成員相關事宜</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 實習組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">16. 實習組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">無</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">學習團隊所有工作至進行方式，管理實習人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 會計組長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">17. 會計組長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備會計領域之基本作業能力</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                            <li class="tpsn-py-1">專科學習者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助公司帳務紀錄與製作各式財務報表</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 會計組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">18. 會計組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備會計領域之基本作業能力</li>
                            <li class="tpsn-py-1">專科學習者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助公司帳務紀錄與製作各式財務報表</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 出納組長 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">19. 出納組長</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備統計學領域之基本作業能力</li>
                            <li class="tpsn-py-1">須具有領導經驗</li>
                            <li class="tpsn-py-1">專科學習者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助公司進行資金管理</li>
                            <li class="tpsn-py-1">領導下轄人員</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!-- 出納組員 -->
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">20. 出納組員</span>
                        <span class="tpsn-px-3 tpsn-py-1">| </span><span>正式成員、培訓成員、種子成員</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">須具備統計學領域之基本作業能力</li>
                            <li class="tpsn-py-1">專科學習者優先</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="20%" align="center">工作/實習內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">協助公司進行資金管理</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作/實習地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock body %}
