{% extends 'base.html' %}
{% block body %}
<main>
    <div class="container-fluid mt-3 mb-3 text-center">
        <img src="/static/images/hrmake.png" width="100%">        
    </div>
    <div class="container marketing">
    <div class="container-fluid mt-3 mb-3">
        <div class="table table-borderedless mb-4">
            <table width="100%" cellpadding="3" cellspacing="">
                <tr>
                    <td class="tpsn-border-bottom" colspan="4">
                        <span class="tpsn-fs-h3b">1. 職務一</span>
                        <span class="tpsn-px-3 tpsn-py-1">|</span><span>正式成員：NT$46,000、種子成員：NT$46,000</span>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center" rowspan="2">報名資格</td>
                    <td class="" width="40%" rowspan="2">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">資格一。</li>
                            <li class="tpsn-py-1">資格二。</li>
                            <li class="tpsn-py-1">資格三。</li>
                        </ul>
                    </td>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作內容</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">工作內容一。</li>
                            <li class="tpsn-py-1">工作內容二。</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tpsn-bg-grey-light tpsn-fs-16b" width="10%" align="center">工作地點</td>
                    <td class="" width="40%">
                        <ul class="tpsn-my-1">
                            <li class="tpsn-py-1">線上</li>
                        </ul>
                        <ul class="tpsn-list-unstyled tpsn-my-1">
                            <li class="tpsn-py-1">如有實體工作團隊將提供交通費用</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
</main>
{% endblock body %}
